<ul class="space-y-6 pb-6 tracking-wide font-medium text-gray-600 lg:pb-0 lg:pr-6 lg:items-center lg:flex lg:space-y-0">
    <li>
        <a routerLink="/home" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Home
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.blazedlabs.com/about/" class="block md:px-3">
            <span>
                About
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.blazedlabs.com/post/" class="block md:px-3">
            <span>
                Blog
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.blz.one/services" class="block md:px-3">
            <span>
                Services
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.blz.one/products" class="block md:px-3">
            <span>
                Products
            </span>
        </a>
    </li>
    <li>
        <a href="https://blazed.contact/" class="block md:px-3">
            <span>
                Contact
            </span>
        </a>
    </li>
</ul>
